* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', 'sans-serif';
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: url(img/library.jpg) no-repeat center center/ cover;
}

.container {
  width: 550px;
  height: 450px;
}

.header {
  font-size: 1.2rem;
  border: solid 2px #fff;
  color: #fff;
  background-color: #262626;
  padding: 5px;
  width: 80%;
  margin: 20px auto;
  border-radius: 5px;
}

.main-content {
  width: 100%;
  height: fit-content;
  background-color: #fff;
  border-radius: 15px;
  padding: 50px 40px;
  padding-bottom: 20px;
  box-shadow: 0 0 10px;
}

.main-content .text-area {
  font-size: 1.5rem;
  line-height: 1.5;
  position: relative;
}

.main-content .person {
  font-size: 1.6rem;
  color: chocolate;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 20px;
}

.button-area button {
  background-color: #262626;
  color: #fff;
  font-size: 1.3rem;
  padding: 15px 20px;
  margin-top: 20px;
  border-radius: 5px;
  border: solid;
  transition: 0.20s;
}

.button-area button:active {
  background-color: chocolate;
  padding: 13px 18px;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

code {
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  color: chocolate;
}

/* Loading animation */
.loader {
  border: 5px solid #d3d2d2;
  border-radius: 50%;
  border-top: 5px solid #262626;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 2px;
  position: absolute;
  left: 45%;
  top: 50%;
  /* transform: translate(50%, -50%); */
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
